<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aboutus</title>
</head>
<body>
<h2>ABOUT US</h2>
<P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eius repellat sequi. Architecto cum et fugit harum illum libero molestiae, nemo praesentium repudiandae sed similique sit, temporibus ullam veniam voluptatum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus ad corporis in labore laudantium nemo nulla pariatur perspiciatis quisquam rem, voluptatibus! Animi dicta eius est magnam mollitia odio officiis?lorem</P>
</body>
</html>